<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqUFS9vFclPBmmVzkQRKqQhbWx29O9Zio</string>
	<key>GCM_SENDER_ID</key>
	<string>213587292557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.response.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>response-53907</string>
	<key>STORAGE_BUCKET</key>
	<string>response-53907.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213587292557:ios:f6f299435a1243ee574dc4</string>
</dict>
</plist>